* {
	font-family: Segoe UI, sans-serif;
}
nav{
	background-color: #088A68;
}

.promo {
	color: red;
	border: 1px black solid;
}

.filter{
	border: 1px black solid;
}
.main-content{
	color: blue;
}

.box-camping{
	width: 95%;
	height: 400px;
	float: left;
	margin-right: 20px;
	margin-top: 20px;
	border: 1px solid black;
}

footer{

	clear: both;
	border: 1px solid black;
	height: 40px;
	margin-top: 20px;
}

