* {
	font-family: Segoe UI, sans-serif;
	text-align:center;
}

header {
	height:15%;
}
nav{
	background-color: #088A68;
}

.promo {
	color: red;
	height: 20%;

}

.filter {
	height: 25%;
}

nav{
	background-color: #088A68;
}

section.main-content{
	color: blue;
}
.outer-wrapper-camping{
	width: 100%;
	padding-left: 20px;


}

.box-camping{
	width: 95%;
	height: 400px;
	float: left;
	margin-right: 20px;
	margin-top: 20px;
	border: 1px solid black;
}

footer{

	clear: both;
	border: 1px solid black;
	height: 40px;
	margin-top: 20px;
}

